{% extends "mark/base.html" %} {% block title %}Bookmarks{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
          <h2>Listar bookmarks</h2>
              {% for key, value in object_list.items %}
                  <div>
                      <h3 class="text-capitalize">{{value.user}}:</h3>
                      <ol>
                          {% for bookmark in value.list %}
                                <li><a href="{{bookmark}}" target="_blank">{{bookmark}}</a></li>
                          {% endfor %}
                      </ol>
                  </div>
              {% endfor %}
        </div>
    </div>
{% endblock %}
